// Colors

// Primary Colors //
$color-white : #fff;
$color-black : #000;
$color-offwhite : #eee;
$color-lightgrey : #E6E4E7; 
$color-grey : #A2A2A2; 
$color-darkgrey : #3B3B3B; 

// Project Based Colors //
$color-beige : #f9f7f8;
$color-orange : #f36a00; 
$color-red : #ec3814; 
$color-limegreen : #8dc63f;
$color-yellow : #FFEDAB;
$color-linkedin : #1DADEB;
$color-craft-link : #8C8C8C;
$color-craft-link-hover : #FEE096;
$color-projects-link : #565656;
$color-projects-link-hover : #57C9F0;
$color-profile-link : #565656;
$color-profile-link-hover : #FAF8F9;
$color-brand-identity-hover : #95EAF3;
$color-brand-identiy : #95EDF7;
$color-graphic-design-hover : #E7F38E;
$color-art-direction-hover : #74F3DB;
$color-projects-quote : #FBE1CD;
$color-ellman-hover : #C3A17A;
$color-ellman-project : #FFF0AF;
$color-vibegroup-hover : #825645;
$color-wasabirabbit-hover : #F0A76A;
$color-sysomos-hover : #CA8256;
$color-bitesize-hover : #CD4E50;
$color-belle-hover : #80EBDA;

// Media Query Sizes

// Desktop //
$breakpoint-xlarge : 1681px;
$breakpoint-large : 1281px;
$breakpoint-medium : 1025px;
$breakpoint-small : 801px;
$breakpoint-smaller : 641px;
$breakpoint-xsmall : 401px;

// Tablet //
$breakpoint-large-tablet : 1280px;
$breakpoint-medium-tablet : 960px;
$breakpoint-ipad-landscape : 1024px;
$breakpoint-ipad-portrait : 768px;

// iPhone 6+ //
$breakpoint-iphone6plus-landscape : 736px;
$breakpoint-iphone6plus-portrait : 414px;

// iPhone 6 //
$breakpoint-iphone6-landscape : 667px;
$breakpoint-iphone6-portrait : 375px;

// iPhone 5 => 4 //
$breakpoint-iphone5-landscape : 567px;
$breakpoint-iphone5-portrait : 320px;


// Animations